* {
	box-sizing: border-box;
}
/* fix for the vertical scroll bar, appears on every page regardless of need */
html {
	overflow-y: scroll
}
body {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #F3F0F0;
}

/* global removal of hyperlink underlining/coloring*/
a {
	color: #2589C9;
	text-decoration: none;
}
a:hover {
	color: red;
}
/* global unordered lists with NO margin or padding by default            							*/
ul {
	margin: 0;
	padding: 0;
}
/* global container class with 80% page width, auto margins and hidden overflow   					*/
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.centeredcontainer {
	width: 80%;
	margin: auto;
	overflow: hidden;
	text-align: center;
}
/* span class and current active link decoration*/
.highlight {
	color: #2589C9;
	font-weight: bold;
}
/* span class for warning highlight color */
.warn {
	color: #DB1345;
	font-weight: bold;
}
/* styling for home page button																		*/
.blueroundedbutton {
	padding: 0.5rem 2rem;
	border: 2px #000000 solid;
	border-radius: 50px;
	text-decoration: none;
	color: #000000;
	background-color: transparent;
	transition: background 500ms ease;
	display: inline-block;
}
/* main page button hover */
.blueroundedbutton:hover {
	background-color: #2589C9;
	color: #ffffff;
}
/* the dark blue style for sidebars;																		*/
.dark {
	padding: 15px;
	background: #2589C9;
	color: #ffffff;
}

/*contact form button */
.msgbutton {
	border-radius: 4px;
	background-color: #ffffff;
	color: #000000;
	padding: 12px 20px;
	border: #000000 3px solid;
	margin-top: 10px;
	float: right;
	width: 100%;
	transition: all 0.5s;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}
/*contact form button span */
.msgbutton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
/*contact form button hover span  */
.msgbutton span:after {
	content: '\00bb';
	font-size: 30px;
	margin: auto;
	color: #2589C9;
	position: absolute;
	opacity: 0;
	top: -9px;
	right: -20px;
	transition: 0.5s;
}
/*contact form button hover span  */
.msgbutton:hover span {
	color: #000000;
	padding-right: 25px;
}
/*contact form button hover span */
.msgbutton:hover span:after {
	opacity: 1;
	right: 0;
}
.responsive {
	max-width: 100%;
	height: auto;
}
/* the index.html and project.html boxes */
.myboxes .box, .projectboxes .box, .bottomboxes .box {
	max-width: 20%;
	padding: 20px 15px 20px 15px;
	margin-top: 90px;
	display: inline-block;
}
.notopmarginboxes .box {
	margin-top: 0px;
}
/* images within the boxes */
.myboxes .box img, .projectboxes .box img {
	border: 4px #000000 solid;
}
/* hover over a home page image */
.myboxes .box img:hover {
	opacity: 0.5;
	border-color: #ffffff;
}
/* image hover border color for projects.html*/
.projectboxes .box img:hover {
	border-color: #2589C9;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* 25% width of main article div */
.column25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}
/* 75% width of main article div */
.column75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Header "box" and all the elements within*/
header {
	color: #6C6C6C;
	background-color: rgba(255,255,255,1);
	padding-top: 15px;
	border-bottom: #2589C9 4px solid;
	position: fixed;
	top: 0px;
	width: 100%;
}
header a { 									/* Links within the header */
	color: #6C6C6C;
	text-transform: uppercase;
	font-size: 18px;
}
header li { 								/* Each individual list item within the header (each nav link) */
	float: left;
	display: inline;
	/* when formatting a padding statement, numbers correspond to top, right, bottom, left
	... example: padding: 5px 10px 5px 10px;            								*/
	padding: 0 6px 0 6px;
	font-weight: bold;
}
header h1 {
	margin: 0;
	float: left;
}
header nav { 								/* the entire nav group within the header */
	float: right;
	margin-top: 10px;
}
header .highlight, header .current a { 		/* span class and current active link */
	color: #86C7F0;
	font-weight: bold;
}
header a:hover {							/* when the nav links in the header are hovered over */
	color: #86C7F0;
}
/*top half of index.html*/
#landing {
	background: url("../images/pierBW2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
#landing h1 {
	margin-top: 140px;
	font-size: 60px;
}
#landing h2 {
	margin-top: -45px;
	margin-bottom: 15px;
}
/* the main body of index.html after scroll-down */
#mystuff {
	background-image: url("../images/pierColor.jpg");
	border-top: orange 6px solid;
	color: #FFFFFF;
	background-color: transparent;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	height: 100vh;
}
/* "This is some stuff I like" */
#mystuff h1 {
	float: right;
	font-size: 60px;
	text-shadow: -4px 4px 2px #000000, 4px 4px 2px #000000, 4px -4px 0 #000000, -4px -4px 0 #000000;
}
/* main content area for all pages except index */
#main {
	margin-top: 80px;
}
/* left content column*/
article#mainarticle {
	float: left;
	width: 65%;
}
/* sidebar */
aside#sidebar {
	float: right;
	margin-top: 10px;
	width: 30%;
	height: auto;
	margin-bottom: 100px;
}
/* link color in sidebar */
aside a {
	color: gold;
}
/* link hover action in sidebar */
aside a:hover {
	color: #FFFFFF;
}
input[type=text], input[type=email], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
/*Contact Options List*/
ul#contactme li {
	margin-top: 15px;
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1 px;
	margin-bottom: 5px;
	background: #BCBCBC;
}
/* Footer */
footer {
	background-color: rgba(255,255,255,1);
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
}
footer p {
	color: #000000;
	font-size: 12px;
}
/* the entire nav group within the footer */
footer nav {
	padding-top: 10px;
}
/* each list item in the footer */
footer li {
	display: inline;
	padding: 0 20px 0 20px;
}

/* styling for tables, table headers and table data */
table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 2px;
}
th {
	font-size: 15px;
	text-align: justify;
	padding: 8px;
}

td {
	font-size: 12px;
	padding: 8px;
}

/*
td, th {
	width: 1%;
	padding: 3px;
}
*/
/* _________________________________________________________ Project 3 Styles _________________________________________________________ */

/* styling for project 3 buttons																		*/
.project3button {
	border: 2px #000000 solid;
	border-radius: 50px;
	background-color: #ddd;
	color: black;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 5px;
	transition: background 300ms ease;
	display: inline-block;
	text-decoration: none;
	box-shadow: 0 8px #999;
}
/* no focus outline for the rounded buttons when clickec cuz... it looks dumb */
.project3button:focus {
	outline: none;
}
/* ID's for project 3 buttons */
#packers:hover {
	background-color: #203731;
	color: #FFB612;
}
#packers:active {
	background-color: #48635B;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#bears:hover {
	background-color: #0E234A;
	color: #C83803;
}
#bears:active {
	background-color: #2F436A;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#vikings:hover {
	background-color: #4F2683;
	color: #FFC62F;
}
#vikings:active {
	background-color: #73509F;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#lions:hover {
	background-color: #0076B6;
	color: #B0B7BC;
}
#lions:active {
	background-color: #429FD1;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
/* Team links on the project 3 page */
#teamurldisplay a {
	color: #0076b6;
}
/* Team link hover on the project 3 page */
#teamurldisplay a:hover {
	color: #E32225;
}
#logodisplay {
	margin: auto;
}

/* _________________________________________________________ Project 4 Styles _________________________________________________________ */

section {
	margin-bottom:100px;
}

/* message form on project 4 page */
article#mainarticle .messageform {
	text-align: left;
	max-width: 90%;
	padding: 0px 8px 8px 8px;
}
/* text field for message on project 4 page*/
article#mainarticle .messageform .submitbutton {
	width: 98%;
	padding: 5px;
}
/* input fields on project 4 page */
article#mainarticle .messageform input, article#mainarticle .messageform textarea {
	width: 95%;
	padding: 5px;
}
/* submit button on project 4 page */
input[type=submit] {
	background-color: #2589C9;
	color: white;
	padding: 12px 20px;
	border: 3px solid black;
	border-radius: 4px;
	float: right;
	width: 75%;
	transition: 0.5s;
	font-weight: bold;
}
/* submit button hover on project 4 page */
input[type=submit]:hover {
	background-color: #ffffff;
	color: #2589C9;
	padding: 12px 20px;
	border: 3px solid black;
	border-radius: 4px;
	float: right;
	width: 75%;
	transition: 0.5s;
	cursor: pointer;
}

/* _________________________________________________________ Project 6 Styles _________________________________________________________ */

select {
    width: 50%;
    height: 30px;
    border-width: 3px;
    margin: 10px 10px 10px 0px;
}

input[type=checkbox] {
  transform: scale(1.6);
}

/* _________________________________________________________ Responsive/Alternate Viewport Styling _________________________________________________________ */

@media screen and (max-width: 700px) {
.column25, .column75, input[type=submit] {
	width: 100%;
	margin-top: 0;
}
.msgbutton {
	font-size: 14px;
}
}
