/* fix for the vertical scroll bar, appears on every page regardless of need */
html {
	overflow-y: scroll
}
body {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #F3F0F0;
}
/* global removal of hyperlink underlining*/
a {
	text-decoration: none;
}
/* global unordered lists with NO margin or padding by default            							*/
ul {
	margin: 0;
	padding: 0;
}
/* global container class with 80% page width, auto margins and hidden overflow   					*/
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.centeredcontainer {
	width: 80%;
	margin: auto;
	overflow: hidden;
	text-align: center;
}
/* span class and current active link decoration*/
.highlight {
	color: #2589C9;
	font-weight: bold;
}
/* styling for home page button																		*/
.blueroundedbutton {
	padding: 0.5rem 2rem;
	border: 2px #000000 solid;
	border-radius: 50px;
	text-decoration: none;
	color: #000000;
	background-color: transparent;
	transition: background 500ms ease;
	display: inline-block;
}
/* main page button hover */
.blueroundedbutton:hover {
	background-color: #2589C9;
	color: #ffffff;
}
/* button on the contact form */
.submitbutton {
	height: 40px;
	width: 93%;
	background: white;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
}
/* contact form button hover */
.submitbutton:hover {
	background-color: #BCBCBC;
	color: #ffffff;
}
/* the dark blue style for sidebars;																		*/
.dark {
	padding: 15px;
	background: #2589C9;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
.responsive {
	max-width: 100%;
	height: auto;
}
/* the index.html and project.html boxes */
.myboxes .box, .projectboxes .box {
	max-width: 20%;
	padding: 20px 15px 20px 15px;
	margin-top: 90px;
	display: inline-block;
}
/* images within the boxes */
.myboxes .box img, .projectboxes .box img {
	border: 4px #000000 solid;
}
/* hover over a home page image */
.myboxes .box img:hover {
	opacity: 0.5;
	border-color: #ffffff;
}
/* image hover border color for projects.html*/
.projectboxes .box img:hover {
	border-color: #2589C9;
}
/* Header "box" and all the elements within*/
header {
	color: #6C6C6C;
	background-color: rgba(255,255,255,1);
	padding-top: 15px;
	border-bottom: #2589C9 4px solid;
	position: fixed;
	top: 0px;
	width: 100%;
}
header a { 									/* Links within the header */
	color: #6C6C6C;
	text-transform: uppercase;
	font-size: 18px;
}
header li { 								/* Each individual list item within the header (each nav link) */
	float: left;
	display: inline;
	/* when formatting a padding statement, numbers correspond to top, right, bottom, left
	... example: padding: 5px 10px 5px 10px;            								*/
	padding: 0 6px 0 6px;
	font-weight: bold;
}
header h1 {
	margin: 0;
	float: left;
}
header nav { 								/* the entire nav group within the header */
	float: right;
	margin-top: 10px;
}
header .highlight, header .current a { 		/* span class and current active link */
	color: #86C7F0;
	font-weight: bold;
}
header a:hover {							/* when the nav links in the header are hovered over */
	color: #86C7F0;
}
/*top half of index.html*/
#landing {
	background: url("../images/pierBW2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
#landing h1 {
	margin-top: 140px;
	font-size: 60px;
}
#landing h2 {
	margin-top: -45px;
	margin-bottom: 15px;
}
/* the main body of index.html after scroll-down */
#mystuff {
	background-image: url("../images/pierColor.jpg");
	border-top: orange 6px solid;
	color: #FFFFFF;
	background-color: transparent;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	height: 100vh;
}
/* "This is some stuff I like" */
#mystuff h1 {
	float: right;
	font-size: 60px;
	text-shadow: -4px 4px 2px #000000,  4px 4px 2px #000000,  4px -4px 0 #000000,  -4px -4px 0 #000000;
}
/* main content area for all pages except index */
#main {
	margin-top: 80px;
}
/* left content column*/
article#mainarticle {
	float: left;
	width: 65%;
}
/* sidebar */
aside#sidebar {
	float: right;
	margin-top: 10px;
	width: 30%;
}
/* link color in sidebar */
aside a {
	color: gold;
}
/* link hover action in sidebar */
aside a:hover {
	color: #FFFFFF;
}
/* message form in sidebar on contact page */
aside#sidebar .messageform {
	text-align: center;
	height: 600px;
}
/* text field for message on contact page */
aside#sidebar .messageform textarea {
	height: 400px;
}
/* input fields on contact page */
aside#sidebar .messageform input, aside#sidebar .messageform textarea {
	width: 90%;
	padding: 5px;
}
/*Contact Options List*/
ul#contactme li {
	margin-top: 15px;
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1 px;
	margin-bottom: 5px;
	background: #BCBCBC;
}
/* Footer */
footer {
	background-color: rgba(255,255,255,1);
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
}
footer p {
	color: #000000;
	font-size: 12px;
}
/* the entire nav group within the footer */
footer nav {
	padding-top: 10px;
}
/* each list item in the footer */
footer li {
	display: inline;
	padding: 0 20px 0 20px;
}
